.error {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0px auto 10px auto;
  background: linear-gradient(#e67c7c, #fa0000);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
